$color-light: rgba(237, 237, 237);
$color-dark: rgb(75, 74, 74);
$color-primary: rgb(245, 95, 135);
$color-grey: rgb(126, 126, 126);
$color-grey-light: rgb(163, 163, 163);
$color-blue-primary: rgb(63, 214, 245) ;
$color-blue-secondary: rgba(0,194,255,1) ;
$background-primary: linear-gradient(90deg, rgba(75, 158, 252, 0.585) -20%, rgba(159, 63, 248, 0.633)  44%, rgba(123, 176, 255, 0.863) 120%);
$background-light: rgba(237, 237, 237, 0.801);