
html {
    margin:0;
    padding:0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
}

.app {
    background: $background-primary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0;
    padding:0;
    min-height:100vh;
    position: relative;
}


main {
    padding: 60px 0;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.container {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

.center {
    margin: 0 auto;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}